#IDEA≥£”√gitignore≈‰÷√

.idea
out
.settings
bin
classes
target
lib
*.jar
*.classpath
*.project
*.fxbuild
*.cnf
*.iml
*.properties
*.exe

jar_learning
web_learning
spider

web_utils
brief
web_static