#IDEA≥£”√gitignore≈‰÷√

.idea
out
.settings
bin
classes
target
lib
*.jar
*.classpath
*.project
*.fxbuild
*.cnf
*.iml
*.properties
*.exe

jar_package_learning
java_web_learning
java_spider

web_utils
brief
project.earth-3d-web_static