#location of dataSource folder
locationFolder = dataSource/

#location of Csv File
csv_dir = earthquakes.csv

#location of sqlite DB
DB_dir = earthquakes.sqlite

#location of spider sqlite DB
spDB_dir = spEarthquakes.sqlite