body {
    background-image: url("/images/background.jpeg");
    background-repeat: repeat-y;
    background-size: cover;
}

#showoff {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sphere, #glow-shadows, #locations {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50px;
    left: 350px;
}

#glow-shadows.earth {
    top: 52px;
    left: 352px;
    background: url("/images/earth-glow-shadows.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.location {
    position: absolute;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
}

.location:hover {
    border: 3px solid orangered;
}

.condition_choose {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 1%;
    color: #ffffff;
}

.condition_choose .searchForm .prop_title{
    font-weight: bold;
    color: rgb(174, 213, 228);
}
.condition_choose .searchForm .prop{
    margin-bottom: 30px;
}

.condition_choose .searchForm .prop input{
	margin-top: 10px;
}

.condition_choose .searchForm .prop .my_datePickers{
	width: 140px;
}

.condition_choose .searchForm .prop .slider-container{
    margin-top: 25px;
}

.condition_choose .searchForm #searchBtn{
    margin: 125px;
    margin-top: 20px;
}