.slider-container {
  width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.slider-container .back-bar {
  height: 12px;
  position: relative;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #eeeeee, #aaaaaa);
  background-repeat: repeat-x;
}
.slider-container .back-bar .selected-bar {
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom, #b1d1f9, #64a8f9);
  background-repeat: repeat-x;
}
.slider-container .back-bar .pointer {
  position: absolute;
  width: 8px;
  height: 24px;
  top: -5px;
  background-image: linear-gradient(to bottom, #dddddd, #eeeeee);
  background-repeat: repeat-x;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: col-resize;
  opacity: 0.9;
  z-index: 2;
}
.slider-container .back-bar .pointer.last-active {
  z-index: 3;
}
.slider-container .back-bar .pointer-label {
  position: absolute;
  top: -25px;
  font-size: 16px;
  color: #bbbbbb;
  white-space: nowrap;
  line-height: 1;
}
.slider-container .back-bar .focused {
  color: #ffffff;
  z-index: 10;
}
.slider-container .clickable-dummy {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slider-container .scale {
  top: 2px;
  position: relative;
}
.slider-container .scale span {
  position: absolute;
  height: 5px;
  border-left: 1px solid #e5e5e5;
  font-size: 0;
}
.slider-container .scale ins {
  font-size: 12px;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 5px;
  color: #cccccc;
  line-height: 1;
}